<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/opmaak.css"
          th:href="@{/static/css/opmaak.css}"/>
    <title th:text="#{addsubtask}"/>
</head>
<body>
<div th:insert="navbar.html"/>
<h2 th:text="#{addsubtask}"/>
<div th:if="${mastertask == null}" th:text="#{cannotaddsubtask}"/>
<div th:unless="${mastertask == null}">
    <h3 th:text="#{addsubtaskto}"/>
    <table class="tafels">
        <tr>
            <th th:text="#{title}"/>
            <th th:text="#{desc}"/>
            <th th:text="#{duedate}"/>
        </tr>
        <tr>
            <td th:text="${mastertask.title}"></td>
            <td th:text="${mastertask.description}"></td>
            <td><span th:text="*{mastertask.dueDate.getMonth().toString().toLowerCase()}"/> <span
                    th:text="*{mastertask.dueDate.getDayOfMonth()}"/> <span
                    th:text="*{mastertask.dueDate.getYear() } "/> <span th:text="#{at}"/> <span
                    th:text="*{mastertask.dueDate.getHour()}"/>:<span th:text="*{mastertask.dueDate.getMinute()}"/>
            </td>
        </tr>
    </table >
    <h3>Subtask</h3>
    <div class="container">
        <form method="post" action="/tasks/sub/create" th:object="${subtask}">
            <p th:if="${not #fields.globalErrors().isEmpty()}" th:text="${#fields.globalErrors()}"></p>
            <div>
                <label for="subTitle" th:text="#{subtitle}"/>
                <input type="text" id="subTitle" th:field="*{title}">
                <div>
                    <p th:errors="*{title}"/>
                </div>
            </div>
            <div>
                <label for="subDescription" th:text="#{subdesc}"/>
                <input type="text" id="subDescription" th:field="*{description}">
                <div>
                    <p th:errors="*{title}"/>
                </div>
            </div>
            <div>
                <input readonly type="" th:value="${mastertask.id}" name="masterTaskId" hidden/>
            </div>
            <button type="submit" th:text="#{submit}"/>
        </form>
    </div>
</div>
</body>
</html>
