<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<h2>Add task</h2>
<form method="post" action="/tasks" th:object="${task}">
    <p th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="title">Title: </label>
        <input type="text" th:field="*{title}" id="title">
        <p th:errors="*{title}"></p>
    </div>
    <div>
        <input id="description" name="description" type="text" th:field="*{description}">
        <label for="description">Description: </label>
    </div>
    <div>
        <label for="dueDate"> Due date</label>
        <input type="datetime-local" th:field="*{dueDate}" id="dueDate">
    </div>
    <input type="submit" value="new task">
</form>
</body>
</html>