<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:security="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{Navigationbar}"/>
    <link href="../static/css/opmaak.css" th:href="@{/css/opmaak.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav th:fragment="navbar" class="navbar">
        <h1 th:text="#{taskmanager}"></h1>
        <ul class="navbar-inner">
            <li><a href="/" th:text="#{home}"/></li>
            <li><a href="/tasks" th:text="#{taskoverview}"/></li>
            <li><a href="/tasks/new" th:text="#{newtask}"/></li>
            <li><a href="/logout" th:text="#{logout}"></a></li>
        </ul>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value="en" th:text="#{lang.en}">
            <option value="nl" th:text="#{lang.nl}"/>
        </select>
    </nav>
</header>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '' && window.location.href.match('.*\?lang\=..')) {
                window.location.replace(window.location.href.substring(0, window.location.href.length - 8) + '?lang=' + selectedOption);
            } else {
                window.location.replace(window.location.href + '?lang=' + selectedOption);
            }
        })
    });
</script>
