<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../opmaak.css"
          th:href="@{/static/css/opmaak.css}"/>
    <title th:text="#{Navigationbar}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../opmaak.css"
          th:href="@{/static/css/opmaak.css}"/>
</head>
<body>
<div>
    <div th:fragment="navbar" class="navbar">
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value="en" th:text="#{lang.en}"></option>
            <option value="en" th:text="#{lang.nl}"></option>
        </select>
        <div class="navbar-inner">
            <a href="/" th:text="#{home}"/>
            <a href="/tasks" th:text="#{taskoverview}"/>
            <a href="/tasks/new" th:text="#{newtask}"/>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '' && window.location.href.match('.*\?lang\=..')){
                window.location.replace(window.location.href.substring(0,window.location.href.length-8) +'?lang=' + selectedOption);
            }
            else {
                window.location.replace(window.location.href +'?lang=' + selectedOption);
            }
        });
    });
</script>
