<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/opmaak.css"
          th:href="@{/static/css/opmaak.css}"/>
    <title th:text="#{taskmanager}"/>
</head>
<body>
<div th:insert="navbar.html"/>
<main>
    <h2 th:text="#{tasks}"/>
    <div th:if="${tasks.isEmpty()}">
        <p th:text="#{emptytasks}"/>
    </div>
    <div th:if="${not tasks.isEmpty()}">
        <table class="tafels">
            <tr>
                <th th:text="#{title}"/>
                <th th:text="#{desc}"/>
                <th th:text="#{duedate}"/>
                <th th:text="#{actions}"/>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td><span th:text="*{task.dueDate.getMonth().toString().toLowerCase()}"/> <span
                        th:text="*{task.dueDate.getDayOfMonth()}"/> <span th:text="*{task.dueDate.getYear() } "/> <span
                        th:text="#{at}"/> <span
                        th:text="*{task.dueDate.getHour()}"/>:<span th:text="*{task.dueDate.getMinute()}"/>
                </td>
                <td>
                    <button class="tfbutton" th:onclick="'window.location.href=\'/tasks/' + *{task.id} + '\''"
                            th:text="#{details}"/>
                    <button class="tfbutton" th:onclick="'window.location.href=\'/tasks/edit/' + ${task.id} + '\''"
                            th:text="#{edit}"/>
                    <button class="tfbutton"
                            th:onclick="'window.location.href=\'/tasks/' + ${task.id} + '/sub/create\''"
                            th:text="#{addsubtask}"/>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>
