<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/opmaak.css" th:href="@{/static/css/opmaak.css}" />
    <title>Task Detail</title>
</head>
<body>
<h2>Task Detail</h2>
<div th:insert="navbar.html"/>
<div th:if="${task == null}"> Task not found!</div>
<div th:unless="${ task == null}">
    <table>
        <tr>
            <th>Title:</th>
            <th>Description:</th>
            <th>Due Date:</th>
        </tr>
        <tr>
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td><span th:text="*{task.dueDate.getMonth().toString().toLowerCase()}"/> <span
                    th:text="*{task.dueDate.getDayOfMonth()}"/> <span th:text="*{task.dueDate.getYear() } "/> at <span
                    th:text="*{task.dueDate.getHour()}"/>:<span th:text="*{task.dueDate.getMinute()}"/>
            </td>
        </tr>
        <div th:unless="${task.subtasks.size()} == 0">
            <tr>
                <th>Subtask title:</th>
                <th>Subtask description:</th>
            </tr>
            <tr th:each="subtask : ${task.subtasks}">
                <td th:text="${subtask.title}"></td>
                <td th:text="${subtask.description}"></td>
            </tr>
        </div>
    </table>
    <div th:if="${task.subtasks.size()} == 0">
        <p>Their are no sub tasks.</p>
    </div>
</div>
</body>
</html>